@charset "utf-8";
/* CSS Document */


#main_container{
	
}

.imageContainer{
	background-image: url("file:///C:/Users/caitc/OneDrive/Desktop/Cole_Caitlyn_Website/images/homepage_blank.png");
	height: 500px;
}

.about-me{
	justify-content: center;
}

.about_text{
	font-size:24px;
}

.top-nav{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
}

.top-nav-link{
	padding-top: 2%;
}

.bannerText {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  color:white;
  text-align: center;
}

.bannerButton {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me{
	text-align: center;
}

.portfolio-thumbnail{
	width: 300px;
	text-align: center;
}

.bigtext{
	width: 280px;
	height: 100px;
}

.page-content{
	align-content: flex-end;
}

strong{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:50px;
}

h2{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

h3{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

h4{
	font-size:14px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

p{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

#logo{
	float:left;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
}

#buybook{
	float:left;
	margin-left:45%;
	margin-right: 2%;
	margin-top:2%;
}

#watch_speakers{
	float:left;
	margin-right: 2%;
	margin-top:2%;
}

#share_story{
	float:left;
	margin-right: 2%;
	margin-top:2%;
}

#book_image{
	clear:left;
	padding-left:30%;
}

#book_buy_button{
	clear:left;
	padding-left:47%;
	padding-right:47%;
	width:100px;
}

#copy{
	clear:left;
	float:left;
	max-width:50%;
}

#speakers_imgs{
	clear:left;
	padding-right:5%;
	padding-top:3%;
	margin-left:2%;
	float:left;
}

#speakers_text{
	float:left;
	width:60%;
	padding-top:1%;
}

#share_story_photos{
	clear:left;
	float:left;
}


#photo1{
	clear:left;
	float:left;
	margin-right:2%;
}

#photo2{
	float:left;
	margin-right: 2%;
}

#photo3{
	float:left;
	margin-right: 2%;
}

#photo4{
	clear:left;
	float:left;
	margin-right:2%;
}

#photo5{
	float:left;
	margin-right: 2%;
}

#photo6{
	float:left;
	margin-right: 2%;
}

#photo7{
	clear:left;
	float:left;
	margin-right:2%;
}

#photo8{
	float:left;
	margin-right: 2%;
}

#upload_photo{
	clear:left;
	float:left;
	margin-left:1%;
}

#text_boxes{
	float:left;
	margin-left:2%;

}

#buy_book_info{
	float:left;
	margin-left:3%;
	font-size:24px;
}

#submit_button{
	clear:left;
	margin-left:23%;
	width: 100px;
}